@model Patisserie.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="card mb-3 details" style="margin-top:10vh; height:auto">
    <div class="row g-0">
        <div class="col-md-4 details">
            <img src=@Html.DisplayFor(model => model.ImageUrl) class="img-fluid rounded-start" alt=@Html.DisplayFor(model => model.Name)>
            <p class="card-text details">
                @Html.DisplayNameFor(model => model.Category) :
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId">
                    @Html.DisplayFor(model => model.Category.Name)
                </a>
            </p>
            <p class="card-text details">
                Flavours: <br>
                @if (Model.ProductFlavours != null && Model.ProductFlavours.Any())
                {
                    <ul>
                        @foreach (var flavour in Model.ProductFlavours)
                        {
                            <li>
                                <a class="flavours" asp-controller="Flavours" asp-action="Details" asp-route-id="@flavour.FlavourId">@flavour.Flavour.Name</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <span style="font-family:Merienda; font-weight:300; font-size:1.5em; color:#DBD0C5">No flavours available.</span>
                }
            </p>
            <p class="card-text details">
                <strong>Average rating:</strong>
                @if (ViewData["AverageRating"] != null)
                {
                    @(ViewData["AverageRating"] as double?)
                }
            </p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title product">
                    @Html.DisplayFor(model => model.Name)
                </h5>
                <p class="card-text desc">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <p class="card-text price">
                    @Html.DisplayFor(model => model.Price) &#8364
                </p>
                <div class="reviews">
                        @if (Model.Reviews != null)
                        {
                            @foreach (var review in Model.Reviews)
                            {
                                <div class="card productReviews">
                                    <div class="card-body">
                                        <p>
                                            @review.Comment <br />
                                            - @review.User.UserName <br />
                                            Rating: @review.Rating
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                </div>
                <div class="buttons">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        <form asp-action="BuyProduct" method="post">
                            <input type="hidden" name="id" value="@Model.ProductId" />
                            <button class="add" type="submit">Order now</button>
                        </form>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button class="add">
                            <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a>
                        </button>
                        <button class="add">
                            <a asp-action="Delete" asp-route-id="@Model?.ProductId">Delete</a>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
